
.header{
    width: 100%;
    height: 90px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    font-size: 50px;
    font-weight: 800px;
    color: #ffffff;
    background: #2c3e50;

}
button{
    background: transparent;
    border: none;
    font-size: 32px;
    color: #ffffff;
}

.hleft{
    padding: 100px;
}
.hright{
   padding-right: 100px;
}
.hright:hover{
    cursor: pointer;
    color: #18bc9c; 

}

.body{
    background: #18bc9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #ffffff;
}
.image{
      
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 210px;
    background: #2c3e50;
    border-radius: 50%;    
    margin-top: 20px;
}

.piggy{
    padding-top: 10px;
    padding-left: 10px;
    width:170px;
    height:170px;  

}
.websiteName{
 font-size: 50px;
}
.websiteDescription{

}