

.dash_header{
    width: 100%;
    height: 90px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    font-size: 50px;
    font-weight: 800px;
    color: #ffffff;
    background: #2c3e50;

}



.rightText{
    font-size: 32px;
    padding: 100px;
}

.rightText:hover{
    cursor: pointer;
    color: #18bc9c; 

}

.leftText{
    padding: 100px;
}

.dash_body{
    background: #18bc9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #ffffff;
}

.userCard {
    width: 500px;
    height: 200px;
    background-color: rgb(155, 228, 233);
    border-radius: 15px;
}

.ccImage {
    width: 100px;
    height: 80px;
    float: right;
  

}

.cardName {
    font-size: 20px;
    color: rgb(255, 255, 255);
    float:left;
    margin-left: 10px;
}


